.bin {
  height: 25px;
  width: 25px;
}
.button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: white;
  border: none;
  cursor: pointer;
}
.coffeeSelect {
  border-radius: 8px;
  padding: 5px 10px;
  width: 100%;
}
.SelectBox {
  position: relative;
}
